@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icon/icomoon.eot?wkx137');
  src:  url('/fonts/icon/icomoon.eot?wkx137#iefix') format('embedded-opentype'),
    url('/fonts/icon/icomoon.ttf?wkx137') format('truetype'),
    url('/fonts/icon/icomoon.woff?wkx137') format('woff'),
    url('/fonts/icon/icomoon.svg?wkx137#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SmsIcon:before {
  content: "\e900";
  color: #fefffe;
}
.icon-phoneIcon:before {
  content: "\e901";
  color: #fefffe;
}
.icon-markIcon:before {
  content: "\e902";
  color: rgb(254, 255, 254);
  opacity: 0.863;
}
